apiVersion: argocd-image-updater.argoproj.io/v1alpha1
kind: ImageUpdater
metadata:
  name: inference-image-updater
  namespace: argocd
spec:
  namespace: argocd
  commonUpdateSettings:
    updateStrategy: "latest"
  writeBackConfig:
    method: git
    gitConfig:
      repository: "https://github.com/JonatasRodriguesReis/portfolio-mlops-inference-platform-infra.git"
      branch: main
      writeBackTarget: "kustomize"

  applicationRefs:
    - namePattern: "inference-api"
      images:
        - alias: inference
          imageName: ghcr.io/jonatasrodriguesreis/portfolio-mlops-inference-platform-app
