apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: inference-api
  namespace: observability
spec:
  selector:
    matchLabels:
      app: inference-api
  namespaceSelector:
    matchNames:
      - mlops-inference-app
  endpoints:
    - port: http
      path: /metrics
      interval: 15s
