apiVersion: v1
kind: Service
metadata:
  name: inference-api
  namespace: mlops-inference
spec:
  selector:
    app: inference-api
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8000
  type: ClusterIP
