apiVersion: v1
kind: Service
metadata:
  name: inference-api
  namespace: mlops-inference-app
  labels:
    app: inference-api
spec:
  selector:
    app: inference-api
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: 8000
  type: ClusterIP
